@tailwind base;
@tailwind components;
@tailwind utilities;

input {
	box-shadow: 20px 20px 60px #c5c5c5,-20px -20px 60px #ffffff;
}

input:focus {
	outline-color: transparent;
	/* box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff; */
 }

 button {
  box-shadow: 6px 6px 12px #c5c5c5,-6px -6px 12px #ffffff;
}

button:active {
  box-shadow: 4px 4px 12px #c5c5c5,-4px -4px 12px #ffffff;
}
